html {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  top: 0px;
  left: 0px;
  background: white 0% 0% no-repeat padding-box;
  opacity: 1;
}


.fh-icon {
  padding: 1rem 0.5rem;
  color: #549E87;
  font-size: 20px;
}

.logo-img {
  max-width: 14rem;
}

.logo-img-bottom {
  max-width: 12rem;
}

.nav-fh {
  justify-content: space-between;
}

.navbar .nav-link {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.39px;
  color: #FFFFFF !important;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  border-bottom: 5px solid transparent;
}

.navbar .nav-link:hover {
  color: #FFFFFF !important;
  border-bottom: 5px solid #549E87 !important;
}

.navbar .nav-link:focus {
  color: #FFFFFF !important;
  border-bottom: 5px solid #549E87 !important;
}

.navbar .active {
  color: #F9F0DD !important;
  border-bottom: 5px solid #549E87 !important;
}

.navbar-nav {
  align-items: center;
}

/* .nav-link:active {
      color: #F9F0DD !important;
  } */

.overlap-group {
  align-items: flex-end;
  background-image: url(../img/christian-buehner-ditylc26zvi-unsplash@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  min-width: 49px;
  padding: 12px 14px;
}

.repeat-grid-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 15px;
  padding: 0.5px 3.5px;
  width: 33px;
}

.menu-icon {
  height: 20px !important;
}

.ain-icon {
  min-width: 24px !important;
  height: 24px !important;
}

.nav-icon {
  text-align: center !important;
  padding: 1rem 0.7rem !important;
  align-items: center;
  justify-content: center;
}

.img-background {
  background-image: url('https://www.freshhouse.com.sa/public/fh-new/fh-new-website/img/img-back.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.navbar {
  position: absolute !important;
}

.field-text {
  position: relative;
  box-shadow: none;
}

.field-text p {
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #1A1A1A;
}

.field-text input {
  text-indent: 1rem;
  border: 1px solid #C3C3C3;
  border-radius: 9px;
  height: 3.4rem;
}

.field-text .text-code input {
  text-indent: 3.2rem;
}

.field-text .text {
  position: absolute;
  top: 3.1rem;
  left: 2rem;
}

.login .login-fields .field-text {
  padding-bottom: 1.5rem;
}

.field-text .form-control {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
}

.login .back-to a {
  text-decoration: none;
  text-align: left;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  padding-bottom: 3rem;
  color: #0D2763;
}

.login .back-to a i {
  color: #549E87;
  padding-right: .4rem;
}

.login .login-fields .field-text input::placeholder {
  text-align: left;
  font-style: italic;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #6C6C6C;
}

.field-icon {
  position: relative;
  box-shadow: none;
}

.field-icon i {
  color: #549E87;
}

.field-icon input {
  text-indent: 2.5rem;
  border: 1px solid #C3C3C3;
  border-radius: 9px;
  height: 3.4rem;
}


.field-icon .fa-lock,
.field-icon .fa-user {
  position: absolute;
  top: 3.1rem;
  left: 2rem;
}

#login {
  padding: 0rem 10rem;
  position: absolute;
  top: 20%;
}

.login .main-heading {
  text-align: left;
  padding-bottom: 2rem;
}

.login .main-heading h3 {
  font-size: 29px;
  font-family: 'Roboto';
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.login .main-heading p {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 600;
  letter-spacing: 0px;
  color: #414141;
}

.login .login-fields .field-icon {
  padding-bottom: 1.5rem;
}

.login .login-fields .control-label {
  text-align: left;
  font-family: 'Roboto';
  padding-bottom: 0.8rem;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}

.field-icon .form-control {
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
}

.login .login-fields .field-icon input::placeholder {
  text-align: left;
  font-style: italic;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #6C6C6C;
}

.form-check .form-check-input:checked {
  background-color: #549E87;
  border-color: #549E87;
  box-shadow: none;
}


.form-check .form-check-label {
  text-align: left;
  font-size: 15px;
  font-family: 'Roboto';
  letter-spacing: 0px;
  color: #292929;
}

.login .field-bottom {
  padding: 0 1rem 3rem 1rem;
}

.login .field-bottom .forgot-pass a {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #0D2763;
}

.login .field-button .btn-field {
  background: #549E87 0% 0% no-repeat padding-box;
  border-radius: 10px;
  height: 3.2rem;
  text-align: center;
  font: normal normal bold 14px/39px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.login .field-button p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  font: normal normal medium 14px/42px Roboto;
  letter-spacing: 0px;
  color: #4E4E4E;
}

.login .field-button a {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #0D2763;
}

.login .form-check {
  display: inline-block;
  width: 50%;
}

.login .forgot-pass {
  display: inline-block;
  width: 50%;
  text-align: right;
}

#login .footer-text {
  position: absolute;
  bottom: -150px;
  right: 41%;
  font-size: 11px;
  font-family: 'Open Sans';
  font-weight: 500;
  letter-spacing: 0.33px;
  color: #8C8C8C;
}

#register .footer-text {
  position: absolute;
  bottom: 0px;
  right: 70%;
  font-size: 11px;
  font-family: 'Open Sans';
  font-weight: 500;
  letter-spacing: 0.33px;
  color: #8C8C8C;
}

#modal {
  position: absolute;
  top: 25%;
}

#modal .logo-modal {
  padding-bottom: 5rem;
  justify-content: center;
}

#modal .logo-modal img {
  height: 3.6rem;
  width: fit-content;
  position: absolute;
  top: -25%;
}

#modal span {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0px;
  color: #525252;
  padding-bottom: 1rem;
}

#modal .main-heading {
  text-align: center;
}

#modal .footer-text {
  position: absolute;
  bottom: -50%;
  right: 46%;
  font-size: 11px;
  font-family: 'Open Sans';
  font-weight: 500;
  letter-spacing: 0.33px;
  color: #8C8C8C;

}

