html {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  top: 0px;
  left: 0px;
  background: transparent linear-gradient(296deg, #549E87 0%, #66C188 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}


.fh-icon {
  padding: 1rem 0.5rem;
  color: #549E87;
  font-size: 20px;
}

.logo-img {
  max-width: 14rem;
}

.logo-img-bottom {
  max-width: 12rem;
}

.nav-fh {
  justify-content: space-between;
}

.navbar .nav-link {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.39px ;
  color: #396765 !important;
  padding: 1rem 1.5rem ;
  margin: 0 1rem;
  border-bottom: 5px solid transparent;
}

.navbar .nav-link:hover {
  color: #F9F0DD !important;
  border-bottom: 5px solid #549E87 !important;
}

.navbar .nav-link:active {
  color: #F9F0DD !important;
  border-bottom: 5px solid #549E87 !important;
}

.navbar .active{
  color: #F9F0DD !important;
  border-bottom: 5px solid #549E87 !important;
}
.navbar-nav {
  align-items: center;
}

/* .nav-link:active {
    color: #F9F0DD !important;
} */

.overlap-group {
  align-items: flex-end;
  background-image: url(../img/christian-buehner-ditylc26zvi-unsplash@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  min-width: 49px;
  padding: 12px 14px;
}

.repeat-grid-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 15px;
  padding: 0.5px 3.5px;
  width: 33px;
}

.menu-icon {
  height: 20px !important;
}

.ain-icon {
  min-width: 24px !important;
  height: 24px !important;
}

.nav-icon {
  text-align: center !important;
  padding: 1rem 0.7rem !important;
  align-items: center;
  justify-content: center;
}

.main-heading {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.form-control,
.form-select {
  display: inline-block !important;
  border: none !important;
  border-bottom: 2px solid #F9F0DD !important;
  border-radius: 0px;
  background-color: transparent !important;
  padding-left: 5px;
  max-width: 478px !important;
  box-shadow: none !important;
  color: var(--unnamed-color-ffe294);
  text-align: center !important;
  font: italic normal normal 28px/33px Roboto !important;
  letter-spacing: 0.84px;
  color: #FFE294 !important;
  opacity: 0.43;
}

.note-form .form-control,
.form-select {
  border: 1px solid #F9F0DD !important;
  border-radius: 9px;
  background-color: transparent;
  box-shadow: none !important;
  text-align: left !important;
  font: italic 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #FFFFFF !important;
  max-width: 80% !important;
  opacity: 1 !important;
}

.note-form .form-select::placeholder {
  color: #FFFFFF !important;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFE294 !important;
}

input {
  color: #FFE294 !important;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 400;
  padding: .75rem 2.5rem !important;
  border-radius: 0;
  transition: all 0.2s ease;
}

.btn-next {
  background: #ECA363 0% 0% no-repeat padding-box !important;
  border-radius: 27px !important;
  opacity: 1;
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.51px;
  color: #FFFFFF !important;
  width: 227px !important;
  height: 53px !important;
  box-shadow: none !important;
}

.btn-next:hover {
  background: #c57b3a 0% 0% no-repeat padding-box;
  color: #FFFFFF ;
  box-shadow: none;
}

.start-date .btn-date{
border: 1px solid #F9F0DD;
border-radius: 9px;
opacity: 1;
box-shadow: none !important;
padding: 0.8rem 2rem !important;
text-align: center;
font: 600 15px/20px Roboto !important;
letter-spacing: 0.45px !important;
opacity: 1;
color: #F9F0DD;
}
.dropdown-header{
  font-style: italic;
  color: #396765 !important;
  font-weight: 400;
}
.delivery .dropdown-menu{
  width: 48.5%;
  background: #F9F0DD 0% 0% no-repeat padding-box;
}

.delivery .dropdown-item{
  color: #396765;
  font-weight: 600;
}
.delivery .btn-date{
  background: transparent 0% 0% no-repeat padding-box;
  font: normal normal bold 19px/61px Roboto;
  border: none;
  letter-spacing: 0.57px;
  color: #F9F0DD;
  opacity: 1;
}

.delivery .btn-date:hover{
  background: #396765 0% 0% no-repeat padding-box;
color: #FFE294;
}

.delivery .btn-date:active{
  background: #396765 0% 0% no-repeat padding-box;
color: #FFE294;
}

.delivery .btn-dropdown{
  color: #396765;
  font-size: 15px;
  font-weight: 500;
  background-color: #F9F0DD;
  border-color: #F9F0DD;
  text-align: left;
  width: 50%;
  height: 3rem;
  box-shadow: none;
}

.height-1{
  top: 10vh !important;
}

.height-2{
  top: 15vh !important;
}

.height-3{
  top: -10vh !important;
}

.theme-color1{
  background-color: #FFFBF2 !important;
}

.fa-solid{
  float: right;
  margin: 5px 10px 0 0;
  color: #ECA363;
}
.btn-date:hover{
  background: #F9F0DD 0% 0% no-repeat padding-box !important;
  color: #549E87 !important;
}

.btn-date:active{
  background: #F9F0DD 0% 0% no-repeat padding-box !important;
  color: #549E87 !important;
}

#subscribe h1{
  text-align: center;
font: normal normal 800 62px/49px Barlow Condensed;
letter-spacing: 1.86px;
color: #396765;
text-transform: uppercase;
}
.btn-text {
  color: var(--unnamed-color-f9f0dd);
  background: #b9a99b00 0% 0% no-repeat padding-box !important;
  text-align: left;
  font: normal normal 800 60px/48px Barlow Condensed !important;
  border: #ffffff00;
  letter-spacing: 1.8px;
  color: #F9F0DD;
  padding: .5rem .5rem !important;
  opacity: 1;
  border-bottom: 5px solid transparent !important;
}

.btn-text:hover {
  color: #F3D59F;
  border-bottom: 5px solid #F3D59F !important;
}

.btn-text:active {
  color: #F3D59F;
  border-bottom: 5px solid #F3D59F !important;
}

.body-content span {
  color: #F3D59F !important;
}

.meal-type img {
  width: 15rem;
  height: 15rem;
  z-index: 1000 !important;
}

.green-box {
  background: var(--unnamed-color-549e87) 0% 0% no-repeat padding-box;
  background: #549E87 0% 0% no-repeat padding-box !important;
  border-radius: 32px;
  opacity: 1;
  width: 80% !important;
}

.meal a{
  text-decoration: none;
}

.meal li {
  color: var(--unnamed-color-f9f0dd);
  text-align: left;
  font: normal normal 800 46px/43px Barlow Condensed;
  letter-spacing: 1.38px;
  padding: 0.6rem 0.5rem;
  color: #F3D59F;
  text-transform: uppercase;
  opacity: 1;
}

.meal i{
  color: #F3D59F;
  float: left;
}

.meal h3 {
  color: var(--unnamed-color-f9f0dd);
  text-align: left;
  font: normal normal 800 46px/43px Barlow Condensed;
  letter-spacing: 1.38px;
  color: #F9F0DD;
  text-transform: uppercase;
  opacity: 1;
}

.meal-type a {
  color: var(--unnamed-color-396765);
  text-align: center !important;
  font: normal normal 500 14px/10px Roboto !important;
  letter-spacing: 0.42px;
  color: #396765 !important;
  text-decoration: none !important;
  opacity: 1;
}

#subscribe .bottom-bar {
  background: var(--unnamed-color-f9f0dd) 0% 0% no-repeat padding-box;
  background: #F9F0DD 0% 0% no-repeat padding-box;
  border-radius: 19px;
  opacity: 1;
  position: relative;
}

.bottom-bar p {
  color: var(--unnamed-color-396765);
  text-align: center;
  font-weight: 500;
  color: #396765;
  padding: 1rem 2rem;
  opacity: 1;
  font-size: 14px;
  margin: 0;
}

.bottom-bar .orange {
  border-radius: 0 19px 19px 0;
}
.continue-btn{
color: white;
text-decoration: none;
}
.orange{
  background: #ECA363 0% 0% no-repeat padding-box !important;
}

.white{
  background: #fff 0% 0% no-repeat padding-box !important;
}
#subscribe .bottom-bar span {
  font-size: 12px;
}
.p-10{
  padding: 10rem !important;
}
.p-5{
  padding: 5rem !important;
}
.m-10{
  margin: 5rem 10rem !important;
}
.meal-type .box {
  background: var(--unnamed-color-f9f0dd) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-f9f0dd);
  background: #F9F0DD 0% 0% no-repeat padding-box;
  border: 1px solid #F9F0DD;
  border-radius: 11px;
  opacity: 1;
  width: 204px !important;
  height: 59px !important;
  position: relative;
  padding-top: 2rem;
  top: -13rem;
  z-index: -2;
  margin: 0 auto;
}
.meal-type .heading{
  text-align: center;
  font-weight: 600;
font-size: 25px;
letter-spacing: 0.75px;
color: #F9F0DD;
}
.bowl-box {
  position: relative;
  top: -12rem;
  z-index: -1 !important;
  left: 0;
  width: 262px;
  height: 235px;
  /* UI Properties */
  background: var(--unnamed-color-eca363) 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
}


#bowla {
  background: #396765 0% 0% no-repeat padding-box;
  cursor: pointer !important;
}

#bowla:hover,
#bowla:focus {
  background: #ECA363 0% 0% no-repeat padding-box !important;
}

.items-remove {
  justify-content: space-evenly;
}

.meal-box {
  background: var(--unnamed-color-f9f0dd) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-f9f0dd);
  background: #F9F0DD 0% 0% no-repeat padding-box;
  border: 1px solid #F9F0DD;
  border-radius: 9px;
  opacity: 1;
  height: 7.5rem;
  margin: 1.2rem 1rem;
  width: 9rem !important;
}

.meal-box img {
  width: 2rem;
  height: auto;
  position: relative;
  top: 2rem;
  left: 0;
}

.meal-box .box-text {
  position: relative;
  top: 2.5rem;
  left: 0;
  color: var(--unnamed-color-549e87);
  font: normal normal bold 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #549E87;
  opacity: 1;
}

.text-green-p {
  font: normal normal bold 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #255250;
  opacity: 1;
}

.text-left {
  text-align: left !important;
}

.text-subtitle {
  color: var(--unnamed-color-f9f0dd);
  font: italic normal normal 11px/15px Open Sans;
  letter-spacing: 0px;
  color: #F9F0DD;
  padding: 0.5rem;
  opacity: 1;
}
.float-right{
  float: right;
}

.field-inline-block {
  display: inline-block;
}

.stranger h1 {
  color: var(--unnamed-color-f9f0dd);
  text-align: center;
  font: normal normal 800 83px/66px Barlow Condensed;
  letter-spacing: 2.49px;
  color: #F9F0DD;
  opacity: 1;
  padding: 1rem 2rem !important;
}

.stranger h4 {
  text-align: center;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 600;
  font: normal normal bold 22px/25px Roboto;
  letter-spacing: 0.66px;
  color: #F3D59F;
  text-transform: capitalize;
  opacity: 1;
}

.body-content input {
  background-color: transparent !important;
  border: none;
  font: normal normal 800 60px/48px Barlow Condensed;
  text-align: center;
  border-bottom: 5px solid #F3D59F !important;
}

.body-content input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #93BFA6 !important;
}

.body-content h2 {
  color: var(--unnamed-color-f9f0dd);
  text-align: left;
  font: normal normal 800 60px/48px Barlow Condensed !important;
  letter-spacing: 1.8px;
  color: #F9F0DD;
  opacity: 1;
}

section {
  padding: 3rem 0 !important;
}

.text-box {
  padding: 2rem 3rem !important;
}

.text-box h5 {
  color: var(--unnamed-color-ffe294);
  text-align: left;
  padding-bottom: .5rem !important;
  font: normal normal 900 16px/13px Roboto;
  letter-spacing: 0.48px;
  color: #FFE294;
  opacity: 1;
}

.text-box p {
  color: var(--unnamed-color-f9f0dd);
  text-align: left;
  font: normal normal bold 16px/13px Roboto;
  letter-spacing: 0.48px;
  color: #F9F0DD;
}


.text-box span {
  text-align: left;
  font: normal normal 16px/13px Roboto;
  letter-spacing: 0.48px;
  color: #F9F0DDB2;
}

.date-field {
  width: 4vw;
  text-align: center;
}

.weight-field {
  width: 5vw;
  text-align: center;
}

.date-field-year {
  width: 7vw !important;
  text-align: center;
}


/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFFBF2;
  color: white;
  text-align: center;
}

footer p {
  color: var(--unnamed-color-396765);
  font: normal normal normal 11px/45px Open Sans;
  letter-spacing: 0.33px;
  color: #396765;
  opacity: 1;
}

.payment img{
  width: 15rem;
}

.payment .heading{
  text-align: left;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.42px;
color: #3B3A3A;
}

.payment .main{
  padding-bottom: 0.5rem;
}

.payment .details{
  padding-bottom: 0.5rem;
}

.payment .intake{
  padding-bottom: 0.5rem;
}


.payment .main .body{
  font-size: 47px;
  font-family: Barlow Condensed;
  font-weight: 800;
letter-spacing: 1.41px;
color: #3B3A3A;
}

.payment .main .body span{
  font-size: 27px;
  font-family: Barlow Condensed;
  font-weight: 800;
letter-spacing: 1.41px;
color: #3B3A3A;
}

.payment .details .heading{
  text-align: left;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 700;
letter-spacing: 0.33px;
margin: 0;
color: #3B3A3A;
}

.payment .details .body{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
color: #3B3A3A;
}

.payment .details .body span{
  font-size: 10px;
  letter-spacing: 0.3px;
color: #3B3A3A;
}

.payment .left-side hr{
  border: 1px solid #EAEAEA;
border-radius: 15px;
width: 70%;
}

.payment .intake .heading{
  text-align: left;
  font-size: 11px;
  font-weight: 700;
letter-spacing: 0.33px;
color: #3B3A3A;
}

.payment .intake .body{
  text-align: left;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.42px;
  color: #3B3A3A;
}

.payment .intake .body span{
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #3B3A3A;
}

.payment .switch{
  font: normal normal bold 13px/15px Roboto;
letter-spacing: 0.39px;
color: #0D2763;
padding-bottom: 1rem;
}

.payment .promo{
  font: normal normal bold 14px/17px Roboto;
  letter-spacing: 0.42px;
  text-align: center;
  padding-top: 1rem;
  color: #396765;
}

.payment h4{
  font-size: 21px;
  font-weight: 800;
  font-family: Roboto;
letter-spacing: 0.63px;
color: #3B3A3A;
}

.bill .details .body{
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.45px;
  color: #3B3A3A;
}

.bill .details hr{
border-radius: 10px;
border-top:1px dotted;
}

.bill .details .body-bold{
  padding-left: 0.5rem;
  font-size: 18px;
  font-weight: 600;
  padding-left: 1rem;
  letter-spacing: 0.54px;
  color: #3B3A3A;
}

.right-side .heading h5{
  text-align: left;
  font-size: 18px;
  font-weight: 700;
letter-spacing: 0.54px;
color: #3B3A3A;
}

.right-side .heading span{
  text-align: right;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.39px;
  color: #0D2763;
  opacity: 0.8;
}

.right-side .heading{
  padding: 1rem 0;
}