/* screen - web-1366-28 */

.web-1366-28 {
  align-items: flex-end;
  background-color: var(--orchid-white);
  display: flex;
  flex-direction: column;
  height: 876px;
  width: 1366px;
}

.web-1366-28 .overlap-group-container {
  align-items: flex-end;
  background: linear-gradient(357.42deg, #ffffff -80.27%, #f9f0dd 147.82%);
  display: flex;
  flex-direction: column;
  min-height: 768px;
  padding: 26px 27px;
  width: 1366px;
}

.web-1366-28 .overlap-group11 {
  height: 49px;
  position: relative;
  width: 1300px;
}

.web-1366-28 .group-10 {
  align-items: center;
  display: flex;
  height: 49px;
  left: 0;
  min-width: 1300px;
  position: absolute;
  top: 0;
}

.web-1366-28 .group-19 {
  align-self: flex-start;
  background-image: url(../img/group-19@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 44px;
  margin-top: 1px;
  width: 199px;
}

.web-1366-28 .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--cararra);
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  margin-left: 962px;
  min-width: 49px;
  padding: 7px 10px;
}

.web-1366-28 .fh {
  letter-spacing: 1.80px;
  line-height: 16px;
  min-height: 26px;
  min-width: 26px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-28 .repeat-grid-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 15px;
  padding: 0.5px 3.5px;
  width: 33px;
}

.web-1366-28 .line-3-1 {
  height: 2px;
  object-fit: cover;
  width: 18px;
}

.web-1366-28 .line-3 {
  height: 2px;
  margin-top: 4px;
  object-fit: cover;
  width: 18px;
}

.web-1366-28 .group-43 {
  align-items: flex-end;
  background-color: var(--william);
  border-radius: 6px;
  display: flex;
  height: 25px;
  justify-content: flex-end;
  margin-left: 13px;
  min-width: 25px;
  padding: 1.5px 6px;
}

.web-1366-28 .text-112 {
  direction: rtl;
  letter-spacing: 0.39px;
  line-height: 13px;
  min-height: 18px;
  min-width: 10px;
  text-align: left;
  white-space: nowrap;
}

.web-1366-28 .group-18 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  left: 687px;
  min-width: 442px;
  position: absolute;
  top: 16px;
}

.web-1366-28 .place {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 38px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-28 .subscription {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-28 .prices {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 42px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-28 .menu {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 36px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-28 .blog {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-28 .line-22 {
  height: 4px;
  left: 806px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 23px;
}

.web-1366-28 .overlap-group10 {
  height: 485px;
  margin-top: 69px;
  position: relative;
  width: 1300px;
}

.web-1366-28 .rectangle-158 {
  background-color: var(--jade);
  border-radius: 9px;
  height: 85px;
  left: 0;
  position: absolute;
  top: 100px;
  width: 1300px;
}

.web-1366-28 .rectangle-160 {
  background-color: var(--jade);
  border-radius: 9px;
  height: 85px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 1300px;
}

.web-1366-28 .rectangle-161 {
  background-color: var(--jade);
  border-radius: 9px;
  height: 85px;
  left: 0;
  position: absolute;
  top: 300px;
  width: 1300px;
}

.web-1366-28 .rectangle-162 {
  background-color: var(--jade);
  border-radius: 9px;
  height: 85px;
  left: 0;
  position: absolute;
  top: 400px;
  width: 1300px;
}

.web-1366-28 .rectangle-159 {
  background-color: var(--jade);
  border-radius: 9px;
  height: 85px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1300px;
}

.web-1366-28 .group-312 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 523px;
  min-height: 414px;
  position: absolute;
  top: 23px;
  width: 205px;
}

.web-1366-28 .component-9-46 {
  display: flex;
  height: 14px;
  justify-content: space-between;
  margin-left: 16px;
  width: 82px;
}

.web-1366-28 .ellipse-26-1 {
  border-radius: 4.5px;
  margin-bottom: 3px;
  margin-top: 2px;
  width: 9px;
}

.web-1366-28 .meal-type {
  height: 18px;
  letter-spacing: 1.20px;
  line-height: 16px;
  margin-right: -3px;
  white-space: nowrap;
  width: 68px;
}

.web-1366-28 .component-9-48 {
  display: flex;
  height: 39px;
  margin-top: 61px;
  width: 180px;
}

.web-1366-28 .group-276 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 182px;
  opacity: 0.5;
}

.web-1366-28 .overlap-group {
  border-radius: 19.5px;
  height: 39px;
  position: relative;
  width: 39px;
}

.web-1366-28 .number {
  left: 14px;
  letter-spacing: 1.80px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
}

.web-1366-28 .ellipse-26 {
  border-radius: 19.5px;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.web-1366-28 .select-meals {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 126px;
  white-space: nowrap;
}

.web-1366-28 .component-9-49 {
  display: flex;
  height: 39px;
  margin-top: 61px;
  width: 184px;
}

.web-1366-28 .group-276-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 186px;
  opacity: 0.5;
}

.web-1366-28 .starting-date {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 130px;
  white-space: nowrap;
}

.web-1366-28 .component-9-50 {
  display: flex;
  height: 39px;
  margin-top: 61px;
  width: 205px;
}

.web-1366-28 .group-276-2 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 207px;
  opacity: 0.5;
}

.web-1366-28 .deliver-options {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 151px;
  white-space: nowrap;
}

.web-1366-28 .component-9-51 {
  display: flex;
  height: 39px;
  margin-top: 61px;
  width: 138px;
}

.web-1366-28 .group-276-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 140px;
  opacity: 0.5;
}

.web-1366-28 .payment {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 84px;
  white-space: nowrap;
}

.web-1366-28 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 41px;
  margin-top: 41px;
  min-width: 1316px;
}

.web-1366-28 .group-234 {
  align-self: flex-end;
  height: 37px;
  position: relative;
  width: 167px;
}

.web-1366-28 .flex-row-1 {
  align-items: center;
  display: flex;
  height: 23px;
  left: 112px;
  min-width: 55px;
  position: absolute;
  top: 0;
}

.web-1366-28 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 23px;
  width: 9px;
}

.web-1366-28 .group-79 {
  background-image: url(../img/group-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 9px;
}

.web-1366-28 .group-147 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 2.54px;
  margin-top: 3px;
  width: 2px;
}

.web-1366-28 .group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 1.33px;
  margin-top: 1px;
  min-width: 4px;
}

.web-1366-28 .group-153 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  width: 2px;
}

.web-1366-28 .group-155 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 1px;
  width: 2px;
}

.web-1366-28 .group-container-1 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.89px;
  margin-left: 2px;
  min-height: 18px;
  width: 12px;
}

.web-1366-28 .group-81 {
  background-image: url(../img/group-80@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-right: 0.56px;
  width: 11px;
}

.web-1366-28 .group-145 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-top: 5px;
  width: 2px;
}

.web-1366-28 .group-83 {
  background-image: url(../img/group-82@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 1px;
  width: 9px;
}

.web-1366-28 .group-85 {
  background-image: url(../img/group-84@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 2px;
  width: 7px;
}

.web-1366-28 .group-87 {
  background-image: url(../img/group-86@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 1px;
  width: 11px;
}

.web-1366-28 .group-container-2 {
  align-items: flex-end;
  display: flex;
  height: 16px;
  left: 48px;
  min-width: 62px;
  position: absolute;
  top: 0;
}

.web-1366-28 .group-container-3 {
  align-self: center;
  height: 6px;
  margin-bottom: 1.39px;
  position: relative;
  width: 6px;
}

.web-1366-28 .group-99 {
  background-image: url(../img/group-98@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 2px;
}

.web-1366-28 .group-101 {
  background-image: url(../img/group-100@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.web-1366-28 .group-89 {
  align-self: flex-start;
  background-image: url(../img/group-88@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  margin-left: 12px;
  width: 6px;
}

.web-1366-28 .group-91 {
  background-image: url(../img/group-90@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 6px;
}

.web-1366-28 .group-93 {
  background-image: url(../img/group-92@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 11px;
}

.web-1366-28 .group-95 {
  background-image: url(../img/group-84@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 7px;
}

.web-1366-28 .group-97 {
  align-self: flex-start;
  background-image: url(../img/group-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  margin-left: 2px;
  width: 9px;
}

.web-1366-28 .flex-row-2 {
  align-items: flex-start;
  background-image: url(../img/group-102@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 0;
  min-width: 45px;
  padding: 1.5px 2.6px;
  position: absolute;
  top: 2px;
}

.web-1366-28 .group-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 17px;
  width: 3px;
}

.web-1366-28 .group-115 {
  background-image: url(../img/group-114@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  width: 3px;
}

.web-1366-28 .group-113 {
  background-image: url(../img/group-112@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0.35px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-28 .group-111 {
  background-image: url(../img/group-110@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0;
  margin-top: 1px;
  width: 3px;
}

.web-1366-28 .group-109 {
  background-image: url(../img/group-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.98px;
  margin-top: 1px;
  width: 2px;
}

.web-1366-28 .group-107 {
  background-image: url(../img/group-106@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.98px;
  margin-top: 1px;
  width: 2px;
}

.web-1366-28 .group-105 {
  background-image: url(../img/group-104@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  margin-left: 0.18px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-28 .group-container-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.17px;
  margin-left: 2px;
  min-height: 8px;
  width: 3px;
}

.web-1366-28 .group-121 {
  background-image: url(../img/group-120@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0.8px;
  width: 2px;
}

.web-1366-28 .group-119 {
  background-image: url(../img/group-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.8px;
  margin-top: 2px;
  width: 2px;
}

.web-1366-28 .group-117 {
  background-image: url(../img/group-116@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-28 .group-container-6 {
  height: 13px;
  left: 105px;
  position: absolute;
  top: 24px;
  width: 33px;
}

.web-1366-28 .group-container-7 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.web-1366-28 .group-123 {
  background-image: url(../img/group-122@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 4px;
}

.web-1366-28 .group-125 {
  background-image: url(../img/group-124@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 12px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 4px;
}

.web-1366-28 .group-129 {
  background-image: url(../img/group-128@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 22px;
  position: absolute;
  top: 7px;
  width: 8px;
}

.web-1366-28 .group-133 {
  background-image: url(../img/group-132@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  position: absolute;
  top: 7px;
  width: 5px;
}

.web-1366-28 .group-135 {
  background-image: url(../img/group-134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 8px;
}

.web-1366-28 .group-1 {
  background-image: url(../img/group-140@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 4px;
}

.web-1366-28 .group-1-1 {
  background-image: url(../img/group-142@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 4px;
}

.web-1366-28 .group-151 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 19px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.web-1366-28 .group-1-2 {
  background-image: url(../img/group-156@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-28 .group-1-3 {
  background-image: url(../img/group-158@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-28 .group-149 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.web-1366-28 .overlap-group-container-1 {
  align-items: flex-end;
  display: flex;
  height: 14px;
  left: 65px;
  min-width: 37px;
  position: absolute;
  top: 21px;
}

.web-1366-28 .group-container-8 {
  height: 10px;
  margin-bottom: 0.91px;
  position: relative;
  width: 16px;
}

.web-1366-28 .group-container-9 {
  height: 11px;
  margin-left: 1px;
  position: relative;
  width: 8px;
}

.web-1366-28 .group-137 {
  background-image: url(../img/group-136@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.web-1366-28 .group-139 {
  background-image: url(../img/group-138@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 4px;
}

.web-1366-28 .group-container-10 {
  align-self: flex-start;
  height: 11px;
  margin-left: 1px;
  position: relative;
  width: 11px;
}

.web-1366-28 .group-127 {
  background-image: url(../img/group-126@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.web-1366-28 .group-131 {
  background-image: url(../img/group-130@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 7px;
}

.web-1366-28 .group-1-4 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-28 .group-171 {
  background-image: url(../img/group-170@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-28 .group-1-5 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-28 .group-179 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 10px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.web-1366-28 .group-183 {
  background-image: url(../img/group-182@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 4px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.web-1366-28 .group-191 {
  background-image: url(../img/group-190@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 5px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 5px;
}

.web-1366-28 .copyright {
  letter-spacing: 0.33px;
  line-height: 45px;
  margin-left: 398px;
  min-height: 17px;
  min-width: 138px;
  white-space: nowrap;
}

.web-1366-28 .group-235 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 428px;
  margin-top: 7.02px;
  min-width: 185px;
}

.web-1366-28 .text-113 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -3px;
  min-height: 24px;
  min-width: 25px;
  white-space: nowrap;
}

.web-1366-28 .overlap-group8 {
  height: 22px;
  margin-bottom: -2px;
  margin-left: 5px;
  position: relative;
  width: 155px;
}

.web-1366-28 .twitter {
  left: 42px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-1366-28 .instagram {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-1366-28 .youtube {
  left: 82px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
