/* screen - web-1366-16 */

.web-1366-16 {
  align-items: flex-end;
  background-color: var(--orchid-white);
  display: flex;
  flex-direction: column;
  height: 876px;
  overflow: hidden;
  width: 1366px;
}

.web-1366-16 .overlap-group9 {
  height: 768px;
  margin-right: -59px;
  position: relative;
  width: 1425px;
}

.web-1366-16 .rectangle-10 {
  background: linear-gradient(296.2deg, #549e87 17.3%, #66c188 100%);
  height: 768px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1366px;
}

.web-1366-16 .group-10 {
  align-items: center;
  display: flex;
  height: 49px;
  left: 39px;
  min-width: 1300px;
  position: absolute;
  top: 26px;
}

.web-1366-16 .group-19 {
  align-self: flex-start;
  background-image: url(../img/group-19-29@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 44px;
  margin-top: 1px;
  width: 199px;
}

.web-1366-16 .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--cararra);
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  margin-left: 962px;
  min-width: 49px;
  padding: 7px 10px;
}

.web-1366-16 .fh {
  letter-spacing: 1.80px;
  line-height: 16px;
  min-height: 26px;
  min-width: 26px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-16 .repeat-grid-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 15px;
  padding: 0.5px 3.5px;
  width: 33px;
}

.web-1366-16 .line-3-1 {
  height: 2px;
  object-fit: cover;
  width: 18px;
}

.web-1366-16 .line-3 {
  height: 2px;
  margin-top: 4px;
  object-fit: cover;
  width: 18px;
}

.web-1366-16 .group-43 {
  align-items: flex-end;
  background-color: var(--william);
  border-radius: 6px;
  display: flex;
  height: 25px;
  justify-content: flex-end;
  margin-left: 13px;
  min-width: 25px;
  padding: 1.5px 6px;
}

.web-1366-16 .text-99 {
  direction: rtl;
  letter-spacing: 0.39px;
  line-height: 13px;
  min-height: 18px;
  min-width: 10px;
  text-align: left;
  white-space: nowrap;
}

.web-1366-16 .group-18 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  left: 726px;
  min-width: 442px;
  position: absolute;
  top: 42px;
}

.web-1366-16 .place {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 38px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-16 .subscription {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-16 .prices {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 42px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-16 .menu {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 36px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-16 .blog {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-16 .line-22 {
  height: 4px;
  left: 844px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 23px;
}

.web-1366-16 .component-9-16 {
  display: flex;
  height: 14px;
  justify-content: space-between;
  left: 126px;
  position: absolute;
  top: 246px;
  width: 82px;
}

.web-1366-16 .ellipse-26-1 {
  background-color: var(--peach-cream);
  border-radius: 4.5px;
  margin-bottom: 3px;
  margin-top: 2px;
  width: 9px;
}

.web-1366-16 .meal-type {
  height: 18px;
  letter-spacing: 1.20px;
  line-height: 16px;
  margin-right: -3px;
  white-space: nowrap;
  width: 68px;
}

.web-1366-16 .component-9-17 {
  display: flex;
  height: 14px;
  justify-content: space-between;
  left: 126px;
  position: absolute;
  top: 325px;
  width: 125px;
}

.web-1366-16 .ellipse-26-2 {
  background-color: var(--peach-cream);
  border-radius: 4.5px;
  margin-bottom: 5px;
  width: 9px;
}

.web-1366-16 .select-meals {
  height: 18px;
  letter-spacing: 1.20px;
  line-height: 16px;
  margin-right: -2px;
  white-space: nowrap;
  width: 85px;
}

.web-1366-16 .component-9-18 {
  display: flex;
  height: 14px;
  justify-content: space-between;
  left: 126px;
  position: absolute;
  top: 402px;
  width: 128px;
}

.web-1366-16 .ellipse-26-3 {
  border-radius: 4.5px;
  margin-bottom: 5px;
  width: 9px;
}

.web-1366-16 .starting-date {
  height: 18px;
  letter-spacing: 1.20px;
  line-height: 16px;
  margin-right: -2px;
  white-space: nowrap;
  width: 88px;
}

.web-1366-16 .component-9-19 {
  display: flex;
  height: 39px;
  left: 110px;
  position: absolute;
  top: 464px;
  width: 205px;
}

.web-1366-16 .group-276 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 207px;
  opacity: 0.5;
}

.web-1366-16 .overlap-group {
  border-radius: 19.5px;
  height: 39px;
  position: relative;
  width: 39px;
}

.web-1366-16 .number {
  left: 14px;
  letter-spacing: 1.80px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
}

.web-1366-16 .ellipse-26 {
  border-radius: 19.5px;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.web-1366-16 .deliver-options {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 151px;
  white-space: nowrap;
}

.web-1366-16 .component-9-20 {
  display: flex;
  height: 39px;
  left: 110px;
  position: absolute;
  top: 541px;
  width: 138px;
}

.web-1366-16 .group-276-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 140px;
  opacity: 0.5;
}

.web-1366-16 .payment {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 84px;
  white-space: nowrap;
}

.web-1366-16 .repeat-grid-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 127px;
  min-height: 10px;
  position: absolute;
  top: 286px;
  width: 4px;
}

.web-1366-16 .x047 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-16 .x154 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-16 .repeat-grid-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 127px;
  min-height: 10px;
  position: absolute;
  top: 363px;
  width: 4px;
}

.web-1366-16 .x048 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-16 .x155 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-16 .repeat-grid-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 127px;
  min-height: 10px;
  position: absolute;
  top: 440px;
  width: 4px;
}

.web-1366-16 .x049 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-16 .x156 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-16 .repeat-grid-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 127px;
  min-height: 10px;
  position: absolute;
  top: 517px;
  width: 4px;
}

.web-1366-16 .x050 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-16 .x157 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-16 .when-do-you-wish-to-start {
  color: var(--peach-cream);
  font-family: var(--font-family-barlow_condensed);
  font-size: 47px;
  font-weight: 800;
  left: 454px;
  letter-spacing: 1.41px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
}

.web-1366-16 .rectangle-129 {
  background-color: var(--peach-cream);
  border-radius: 19px;
  height: 61px;
  left: 62px;
  position: absolute;
  top: 651px;
  width: 1030px;
}

.web-1366-16 .component-7-5 {
  align-items: center;
  background-color: var(--sandy-brown);
  display: flex;
  height: 61px;
  justify-content: flex-end;
  left: 1015px;
  min-width: 262px;
  padding: 0 92px;
  position: absolute;
  top: 651px;
}

.web-1366-16 .continue {
  letter-spacing: 0.51px;
  line-height: 25px;
  min-height: 25px;
  min-width: 74px;
  white-space: nowrap;
}

.web-1366-16 .total-calories-1200-cal {
  left: 405px;
  letter-spacing: 0.36px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 675px;
  white-space: nowrap;
}

.web-1366-16 .span-1 {
  letter-spacing: 0.42px;
}

.web-1366-16 .meal-type-keto {
  left: 151px;
  letter-spacing: 0.42px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 675px;
  white-space: nowrap;
}

.web-1366-16 .monthly-subscription-170000-sar {
  left: 702px;
  letter-spacing: 0.36px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 675px;
  white-space: nowrap;
}

.web-1366-16 .line-67 {
  height: 24px;
  left: 636px;
  object-fit: cover;
  position: absolute;
  top: 670px;
  width: 1px;
}

.web-1366-16 .line-73 {
  height: 24px;
  left: 330px;
  object-fit: cover;
  position: absolute;
  top: 670px;
  width: 1px;
}

.web-1366-16 .rectangle-132 {
  border-radius: 9px;
  height: 47px;
  left: 457px;
  position: absolute;
  top: 280px;
  width: 164px;
}

.web-1366-16 .rectangle-139 {
  border-radius: 9px;
  height: 47px;
  left: 457px;
  position: absolute;
  top: 403px;
  width: 164px;
}

.web-1366-16 .rectangle-140 {
  border-radius: 9px;
  height: 47px;
  left: 457px;
  position: absolute;
  top: 526px;
  width: 266px;
}

.web-1366-16 .rectangle-141 {
  border-radius: 9px;
  height: 47px;
  left: 748px;
  position: absolute;
  top: 526px;
  width: 266px;
}

.web-1366-16 .rectangle-142 {
  border-radius: 9px;
  height: 47px;
  left: 1039px;
  position: absolute;
  top: 526px;
  width: 266px;
}

.web-1366-16 .rectangle-133 {
  border-radius: 9px;
  height: 47px;
  left: 651px;
  position: absolute;
  top: 280px;
  width: 164px;
}

.web-1366-16 .rectangle-138 {
  border-radius: 9px;
  height: 47px;
  left: 651px;
  position: absolute;
  top: 403px;
  width: 164px;
}

.web-1366-16 .rectangle-134 {
  background-color: var(--peach-cream);
  border-radius: 9px;
  height: 47px;
  left: 840px;
  position: absolute;
  top: 280px;
  width: 164px;
}

.web-1366-16 .rectangle-137 {
  border-radius: 9px;
  height: 47px;
  left: 840px;
  position: absolute;
  top: 403px;
  width: 164px;
}

.web-1366-16 .rectangle-135 {
  border-radius: 9px;
  height: 47px;
  left: 1028px;
  position: absolute;
  top: 280px;
  width: 164px;
}

.web-1366-16 .rectangle-136 {
  border-radius: 9px;
  height: 47px;
  left: 1028px;
  position: absolute;
  top: 403px;
  width: 164px;
}

.web-1366-16 .name {
  left: 511px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 294px;
  white-space: nowrap;
}

.web-1366-16 .address {
  left: 513px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 417px;
  white-space: nowrap;
}

.web-1366-16 .saturday-to-thursday-6-days {
  left: 483px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 540px;
  white-space: nowrap;
}

.web-1366-16 .sunday-to-thursday-5-days {
  left: 779px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 540px;
  white-space: nowrap;
}

.web-1366-16 .saturday-to-wednesday-5-days {
  left: 1057px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 540px;
  white-space: nowrap;
}

.web-1366-16 .name-1 {
  left: 703px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 294px;
  white-space: nowrap;
}

.web-1366-16 .address-1 {
  left: 703px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 417px;
  white-space: nowrap;
}

.web-1366-16 .name-2 {
  left: 893px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 294px;
  white-space: nowrap;
}

.web-1366-16 .address-2 {
  left: 892px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 417px;
  white-space: nowrap;
}

.web-1366-16 .choose-date {
  left: 1065px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 294px;
  white-space: nowrap;
}

.web-1366-16 .address-3 {
  left: 1080px;
  letter-spacing: 0.45px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 417px;
  white-space: nowrap;
}

.web-1366-16 .duration-of-the-course {
  left: 457px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 365px;
  white-space: nowrap;
}

.web-1366-16 .starting-date-1 {
  left: 457px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 242px;
  white-space: nowrap;
}

.web-1366-16 .number-of-days-per-week {
  left: 457px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 488px;
  white-space: nowrap;
}

.web-1366-16 .your-subscription-st {
  left: 973px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  top: 244px;
  width: 452px;
}

.web-1366-16 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 41px;
  margin-top: 41px;
  min-width: 1316px;
}

.web-1366-16 .group-234 {
  align-self: flex-end;
  height: 37px;
  position: relative;
  width: 167px;
}

.web-1366-16 .flex-row-1 {
  align-items: center;
  display: flex;
  height: 23px;
  left: 112px;
  min-width: 55px;
  position: absolute;
  top: 0;
}

.web-1366-16 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 23px;
  width: 9px;
}

.web-1366-16 .group-79 {
  background-image: url(../img/group-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 9px;
}

.web-1366-16 .group-147 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 2.54px;
  margin-top: 3px;
  width: 2px;
}

.web-1366-16 .group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 1.33px;
  margin-top: 1px;
  min-width: 4px;
}

.web-1366-16 .group-153 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  width: 2px;
}

.web-1366-16 .group-155 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 1px;
  width: 2px;
}

.web-1366-16 .group-container-1 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.89px;
  margin-left: 2px;
  min-height: 18px;
  width: 12px;
}

.web-1366-16 .group-81 {
  background-image: url(../img/group-80-30@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-right: 0.56px;
  width: 11px;
}

.web-1366-16 .group-145 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-top: 5px;
  width: 2px;
}

.web-1366-16 .group-83 {
  background-image: url(../img/group-82@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 1px;
  width: 9px;
}

.web-1366-16 .group-85 {
  background-image: url(../img/group-84@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 2px;
  width: 7px;
}

.web-1366-16 .group-87 {
  background-image: url(../img/group-86@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 1px;
  width: 11px;
}

.web-1366-16 .group-container-2 {
  align-items: flex-end;
  display: flex;
  height: 16px;
  left: 48px;
  min-width: 62px;
  position: absolute;
  top: 0;
}

.web-1366-16 .group-container-3 {
  align-self: center;
  height: 6px;
  margin-bottom: 1.39px;
  position: relative;
  width: 6px;
}

.web-1366-16 .group-99 {
  background-image: url(../img/group-98@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 2px;
}

.web-1366-16 .group-101 {
  background-image: url(../img/group-100@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.web-1366-16 .group-89 {
  align-self: flex-start;
  background-image: url(../img/group-88@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  margin-left: 12px;
  width: 6px;
}

.web-1366-16 .group-91 {
  background-image: url(../img/group-90-15@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 6px;
}

.web-1366-16 .group-93 {
  background-image: url(../img/group-86@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 11px;
}

.web-1366-16 .group-95 {
  background-image: url(../img/group-84@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 7px;
}

.web-1366-16 .group-97 {
  align-self: flex-start;
  background-image: url(../img/group-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  margin-left: 2px;
  width: 9px;
}

.web-1366-16 .flex-row-2 {
  align-items: flex-start;
  background-image: url(../img/group-102@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 0;
  min-width: 45px;
  padding: 1.5px 2.6px;
  position: absolute;
  top: 2px;
}

.web-1366-16 .group-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 17px;
  width: 3px;
}

.web-1366-16 .group-115 {
  background-image: url(../img/group-114@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  width: 3px;
}

.web-1366-16 .group-113 {
  background-image: url(../img/group-112@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0.35px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-16 .group-111 {
  background-image: url(../img/group-110@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0;
  margin-top: 1px;
  width: 3px;
}

.web-1366-16 .group-109 {
  background-image: url(../img/group-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.98px;
  margin-top: 1px;
  width: 2px;
}

.web-1366-16 .group-107 {
  background-image: url(../img/group-106@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.98px;
  margin-top: 1px;
  width: 2px;
}

.web-1366-16 .group-105 {
  background-image: url(../img/group-104@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  margin-left: 0.18px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-16 .group-container-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.17px;
  margin-left: 2px;
  min-height: 8px;
  width: 3px;
}

.web-1366-16 .group-121 {
  background-image: url(../img/group-120@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0.8px;
  width: 2px;
}

.web-1366-16 .group-119 {
  background-image: url(../img/group-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.8px;
  margin-top: 2px;
  width: 2px;
}

.web-1366-16 .group-117 {
  background-image: url(../img/group-116@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-16 .group-container-6 {
  height: 13px;
  left: 105px;
  position: absolute;
  top: 24px;
  width: 33px;
}

.web-1366-16 .group-container-7 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.web-1366-16 .group-123 {
  background-image: url(../img/group-122@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 4px;
}

.web-1366-16 .group-125 {
  background-image: url(../img/group-124@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 12px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 4px;
}

.web-1366-16 .group-129 {
  background-image: url(../img/group-128@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 22px;
  position: absolute;
  top: 7px;
  width: 8px;
}

.web-1366-16 .group-133 {
  background-image: url(../img/group-132@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  position: absolute;
  top: 7px;
  width: 5px;
}

.web-1366-16 .group-135 {
  background-image: url(../img/group-134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 8px;
}

.web-1366-16 .group-1 {
  background-image: url(../img/group-140@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 4px;
}

.web-1366-16 .group-143 {
  background-image: url(../img/group-142@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 4px;
}

.web-1366-16 .group-151 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 19px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.web-1366-16 .group-157 {
  background-image: url(../img/group-158@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-16 .group-1-1 {
  background-image: url(../img/group-158@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-16 .group-149 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.web-1366-16 .overlap-group-container {
  align-items: flex-end;
  display: flex;
  height: 14px;
  left: 65px;
  min-width: 37px;
  position: absolute;
  top: 21px;
}

.web-1366-16 .group-container-8 {
  height: 10px;
  margin-bottom: 0.91px;
  position: relative;
  width: 16px;
}

.web-1366-16 .group-163 {
  background-image: url(../img/group-162-27@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 4px;
}

.web-1366-16 .group-165 {
  background-image: url(../img/group-156@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-16 .group-container-9 {
  height: 11px;
  margin-left: 1px;
  position: relative;
  width: 8px;
}

.web-1366-16 .group-137 {
  background-image: url(../img/group-136@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.web-1366-16 .group-139 {
  background-image: url(../img/group-140@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 4px;
}

.web-1366-16 .group-container-10 {
  align-self: flex-start;
  height: 11px;
  margin-left: 1px;
  position: relative;
  width: 11px;
}

.web-1366-16 .group-127 {
  background-image: url(../img/group-126-27@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.web-1366-16 .group-131 {
  background-image: url(../img/group-130@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 7px;
}

.web-1366-16 .group-1-2 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-16 .group-171 {
  background-image: url(../img/group-170@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-16 .group-1-3 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-16 .group-179 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 10px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.web-1366-16 .group-183 {
  background-image: url(../img/group-182@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 4px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.web-1366-16 .group-191 {
  background-image: url(../img/group-190@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 5px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 5px;
}

.web-1366-16 .copyright {
  letter-spacing: 0.33px;
  line-height: 45px;
  margin-left: 398px;
  min-height: 17px;
  min-width: 138px;
  white-space: nowrap;
}

.web-1366-16 .group-235 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 428px;
  margin-top: 7.02px;
  min-width: 185px;
}

.web-1366-16 .text-100 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -3px;
  min-height: 24px;
  min-width: 25px;
  white-space: nowrap;
}

.web-1366-16 .overlap-group8 {
  height: 22px;
  margin-bottom: -2px;
  margin-left: 5px;
  position: relative;
  width: 155px;
}

.web-1366-16 .twitter {
  left: 42px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-1366-16 .instagram {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-1366-16 .youtube {
  left: 82px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
