/* screen - web-1366-13 */

.web-1366-13 {
  align-items: flex-end;
  background-color: var(--orchid-white);
  display: flex;
  flex-direction: column;
  height: 876px;
  width: 1366px;
}

.web-1366-13 .flex-col {
  align-items: flex-end;
  background: linear-gradient(296.2deg, #549e87 17.3%, #66c188 100%);
  display: flex;
  flex-direction: column;
  min-height: 768px;
  padding: 26px 27px;
  width: 1366px;
}

.web-1366-13 .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 173px;
  width: 1300px;
}

.web-1366-13 .overlap-group15 {
  height: 49px;
  position: relative;
  width: 1300px;
}

.web-1366-13 .group-10 {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 0;
  min-width: 1300px;
  position: absolute;
  top: 0;
}

.web-1366-13 .group-19 {
  align-self: flex-start;
  background-image: url(../img/group-19-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 44px;
  margin-top: 1px;
  width: 199px;
}

.web-1366-13 .overlap-group3 {
  align-items: flex-end;
  background-color: var(--cararra);
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  margin-left: 962px;
  min-width: 49px;
  padding: 7px 10px;
}

.web-1366-13 .fh {
  letter-spacing: 1.80px;
  line-height: 16px;
  min-height: 26px;
  min-width: 26px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .repeat-grid-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 15px;
  padding: 0.5px 3.5px;
  width: 33px;
}

.web-1366-13 .line-3-1 {
  height: 2px;
  object-fit: cover;
  width: 18px;
}

.web-1366-13 .line-3 {
  height: 2px;
  margin-top: 4px;
  object-fit: cover;
  width: 18px;
}

.web-1366-13 .group-43 {
  align-items: flex-end;
  background-color: var(--william);
  border-radius: 6px;
  display: flex;
  height: 25px;
  justify-content: flex-end;
  margin-left: 13px;
  min-width: 25px;
  padding: 1.5px 6px;
}

.web-1366-13 .text-67 {
  direction: rtl;
  letter-spacing: 0.39px;
  line-height: 13px;
  min-height: 18px;
  min-width: 10px;
  text-align: left;
  white-space: nowrap;
}

.web-1366-13 .group-18 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  left: 687px;
  min-width: 442px;
  position: absolute;
  top: 16px;
}

.web-1366-13 .place {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 38px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .subscription {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .prices {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 42px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .menu {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 36px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .blog {
  letter-spacing: 0.39px;
  line-height: 25px;
  margin-left: 54px;
  margin-top: -3.5px;
  min-height: 20px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .line-22 {
  height: 4px;
  left: 806px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 23px;
}

.web-1366-13 .your-container {
  align-items: center;
  display: flex;
  height: 49px;
  margin-right: 97.0px;
  margin-top: 75px;
  min-width: 1063px;
}

.web-1366-13 .fatima-its-your-time-to-make-a-change {
  color: var(--peach-cream);
  font-family: var(--font-family-roboto);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 3.0px;
  min-height: 26px;
  min-width: 316px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .choose-your-meal-type {
  letter-spacing: 1.41px;
  line-height: 37px;
  margin-left: 91px;
  min-height: 49px;
  min-width: 656px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 500px;
  margin-left: 31.0px;
  margin-top: 23px;
  min-width: 1177px;
}

.web-1366-13 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 11px;
  min-height: 347px;
  width: 205px;
}

.web-1366-13 .component-9-181 {
  display: flex;
  height: 39px;
  width: 154px;
}

.web-1366-13 .group-276 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 156px;
  opacity: 0.5;
}

.web-1366-13 .overlap-group {
  border-radius: 19.5px;
  height: 39px;
  position: relative;
  width: 39px;
}

.web-1366-13 .number {
  left: 14px;
  letter-spacing: 1.80px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
}

.web-1366-13 .ellipse-26 {
  border-radius: 19.5px;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.web-1366-13 .meal-type {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.web-1366-13 .repeat-grid {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  margin-top: 14px;
  min-height: 10px;
  width: 4px;
}

.web-1366-13 .x019 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-13 .x120 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-13 .component-9-2 {
  display: flex;
  height: 39px;
  margin-top: 14px;
  width: 180px;
}

.web-1366-13 .group-276-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 182px;
  opacity: 0.5;
}

.web-1366-13 .select-meals {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 126px;
  white-space: nowrap;
}

.web-1366-13 .x020 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-13 .x121 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-13 .component-9-3 {
  display: flex;
  height: 39px;
  margin-top: 14px;
  width: 184px;
}

.web-1366-13 .group-276-2 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 186px;
  opacity: 0.5;
}

.web-1366-13 .starting-date {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 130px;
  white-space: nowrap;
}

.web-1366-13 .x021 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-13 .x122 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-13 .component-9-4 {
  display: flex;
  height: 39px;
  margin-top: 14px;
  width: 205px;
}

.web-1366-13 .group-276-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 207px;
  opacity: 0.5;
}

.web-1366-13 .deliver-options {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 151px;
  white-space: nowrap;
}

.web-1366-13 .x022 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  width: 3px;
}

.web-1366-13 .x123 {
  background-color: var(--peach-cream-2);
  border-radius: 1.5px;
  height: 3px;
  margin-top: 4px;
  width: 3px;
}

.web-1366-13 .component-9-5 {
  display: flex;
  height: 39px;
  margin-top: 14px;
  width: 138px;
}

.web-1366-13 .group-276-4 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 140px;
  opacity: 0.5;
}

.web-1366-13 .payment {
  letter-spacing: 1.80px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 84px;
  white-space: nowrap;
}

.web-1366-13 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 101px;
  min-height: 500px;
  width: 871px;
}

.web-1366-13 .overlap-group-container {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  min-width: 861px;
}

.web-1366-13 .overlap-group13 {
  height: 382px;
  position: relative;
  width: 262px;
}

.web-1366-13 .overlap-group-1 {
  height: 89px;
  left: 29px;
  position: absolute;
  top: 293px;
  width: 204px;
}

.web-1366-13 .rectangle-146 {
  background-color: var(--peach-cream);
  border-radius: 11px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 204px;
}

.web-1366-13 .view-menu {
  left: 64px;
  letter-spacing: 0.42px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 62px;
  white-space: nowrap;
}

.web-1366-13 .rectangle-147 {
  background-color: var(--peach-cream);
  border-radius: 11px;
  box-shadow: 0px 5px 12px #00000029;
  height: 43px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 177px;
}

.web-1366-13 .rectangle-126 {
  background-color: var(--william);
  border-radius: 27px;
  height: 235px;
  left: 0;
  position: absolute;
  top: 104px;
  width: 262px;
}

.web-1366-13 .a147dd35548542cf808d100e7bbbf932 {
  height: 258px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 262px;
}

.web-1366-13 .keto {
  left: 104px;
  letter-spacing: 0.75px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 290px;
  white-space: nowrap;
}

.web-1366-13 .overlap-group17 {
  height: 379px;
  margin-left: 37px;
  position: relative;
  width: 262px;
}

.web-1366-13 .overlap-group1 {
  height: 89px;
  left: 28px;
  position: absolute;
  top: 290px;
  width: 204px;
}

.web-1366-13 .rectangle-127 {
  background-color: var(--william);
  border-radius: 27px;
  height: 235px;
  left: 0;
  position: absolute;
  top: 101px;
  width: 262px;
}

.web-1366-13 .non-veg {
  left: 79px;
  letter-spacing: 0.75px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 286px;
  white-space: nowrap;
}

.web-1366-13 .image-20 {
  height: 255px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 262px;
}

.web-1366-13 .overlap-group14 {
  height: 384px;
  margin-left: 38px;
  position: relative;
  width: 262px;
}

.web-1366-13 .overlap-group2 {
  height: 89px;
  left: 29px;
  position: absolute;
  top: 295px;
  width: 204px;
}

.web-1366-13 .rectangle-128 {
  background-color: var(--william);
  border-radius: 27px;
  height: 235px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 262px;
}

.web-1366-13 .veg {
  left: 108px;
  letter-spacing: 0.75px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 292px;
  white-space: nowrap;
}

.web-1366-13 .image-22 {
  height: 261px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 262px;
}

.web-1366-13 .overlap-group16 {
  height: 61px;
  margin-top: 55px;
  position: relative;
  width: 861px;
}

.web-1366-13 .rectangle-129 {
  background-color: var(--peach-cream);
  border-radius: 19px;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 676px;
}

.web-1366-13 .component-7-2 {
  align-items: center;
  background-color: var(--sandy-brown);
  display: flex;
  height: 61px;
  justify-content: flex-end;
  left: 599px;
  min-width: 262px;
  padding: 0 92px;
  position: absolute;
  top: 0;
}

.web-1366-13 .continue {
  letter-spacing: 0.51px;
  line-height: 25px;
  min-height: 25px;
  min-width: 74px;
  white-space: nowrap;
}

.web-1366-13 .total-calories-0-cal {
  left: 62px;
  letter-spacing: 0.36px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.web-1366-13 .span-1 {
  letter-spacing: 0.42px;
}

.web-1366-13 .monthly-subscription-000-sar {
  left: 325px;
  letter-spacing: 0.36px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.web-1366-13 .line-67 {
  height: 24px;
  left: 258px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 1px;
}

.web-1366-13 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  margin-top: 41px;
  min-width: 1316px;
}

.web-1366-13 .group-234 {
  align-self: flex-end;
  height: 37px;
  position: relative;
  width: 167px;
}

.web-1366-13 .flex-row-2 {
  align-items: center;
  display: flex;
  height: 23px;
  left: 112px;
  min-width: 55px;
  position: absolute;
  top: 0;
}

.web-1366-13 .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 23px;
  width: 9px;
}

.web-1366-13 .group-79 {
  background-image: url(../img/group-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 9px;
}

.web-1366-13 .group-147 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 2.54px;
  margin-top: 3px;
  width: 2px;
}

.web-1366-13 .group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 1.33px;
  margin-top: 1px;
  min-width: 4px;
}

.web-1366-13 .group-153 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  width: 2px;
}

.web-1366-13 .group-155 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 1px;
  width: 2px;
}

.web-1366-13 .group-container-1 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.89px;
  margin-left: 2px;
  min-height: 18px;
  width: 12px;
}

.web-1366-13 .group-81 {
  background-image: url(../img/group-80@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-right: 0.56px;
  width: 11px;
}

.web-1366-13 .group-145 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-top: 5px;
  width: 2px;
}

.web-1366-13 .group-83 {
  background-image: url(../img/group-82@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 1px;
  width: 9px;
}

.web-1366-13 .group-85 {
  background-image: url(../img/group-84@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 2px;
  width: 7px;
}

.web-1366-13 .group-87 {
  background-image: url(../img/group-86@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-bottom: 3.05px;
  margin-left: 1px;
  width: 11px;
}

.web-1366-13 .group-container-2 {
  align-items: flex-end;
  display: flex;
  height: 16px;
  left: 48px;
  min-width: 62px;
  position: absolute;
  top: 0;
}

.web-1366-13 .group-container-3 {
  align-self: center;
  height: 6px;
  margin-bottom: 1.39px;
  position: relative;
  width: 6px;
}

.web-1366-13 .group-99 {
  background-image: url(../img/group-98@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 2px;
}

.web-1366-13 .group-101 {
  background-image: url(../img/group-100-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.web-1366-13 .group-89 {
  align-self: flex-start;
  background-image: url(../img/group-88@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  margin-left: 12px;
  width: 6px;
}

.web-1366-13 .group-91 {
  background-image: url(../img/group-90-15@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 6px;
}

.web-1366-13 .group-93 {
  background-image: url(../img/group-92@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 11px;
}

.web-1366-13 .group-95 {
  background-image: url(../img/group-84@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  margin-left: 1px;
  width: 7px;
}

.web-1366-13 .group-97 {
  align-self: flex-start;
  background-image: url(../img/group-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  margin-left: 2px;
  width: 9px;
}

.web-1366-13 .flex-row-3 {
  align-items: flex-start;
  background-image: url(../img/group-102@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 0;
  min-width: 45px;
  padding: 1.5px 2.6px;
  position: absolute;
  top: 2px;
}

.web-1366-13 .group-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 17px;
  width: 3px;
}

.web-1366-13 .group-115 {
  background-image: url(../img/group-114@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  width: 3px;
}

.web-1366-13 .group-113 {
  background-image: url(../img/group-112@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0.35px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-13 .group-111 {
  background-image: url(../img/group-110@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0;
  margin-top: 1px;
  width: 3px;
}

.web-1366-13 .group-109 {
  background-image: url(../img/group-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.98px;
  margin-top: 1px;
  width: 2px;
}

.web-1366-13 .group-107 {
  background-image: url(../img/group-106@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.98px;
  margin-top: 1px;
  width: 2px;
}

.web-1366-13 .group-105 {
  background-image: url(../img/group-104@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  margin-left: 0.18px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-13 .group-container-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.17px;
  margin-left: 2px;
  min-height: 8px;
  width: 3px;
}

.web-1366-13 .group-121 {
  background-image: url(../img/group-120@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-left: 0.8px;
  width: 2px;
}

.web-1366-13 .group-119 {
  background-image: url(../img/group-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-left: 0.8px;
  margin-top: 2px;
  width: 2px;
}

.web-1366-13 .group-117 {
  background-image: url(../img/group-116@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  margin-top: 1px;
  width: 3px;
}

.web-1366-13 .group-container-6 {
  height: 13px;
  left: 105px;
  position: absolute;
  top: 24px;
  width: 33px;
}

.web-1366-13 .group-container-7 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.web-1366-13 .group-123 {
  background-image: url(../img/group-122@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 4px;
}

.web-1366-13 .group-125 {
  background-image: url(../img/group-124@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 12px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 4px;
}

.web-1366-13 .group-129 {
  background-image: url(../img/group-128@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 22px;
  position: absolute;
  top: 7px;
  width: 8px;
}

.web-1366-13 .group-133 {
  background-image: url(../img/group-132@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  position: absolute;
  top: 7px;
  width: 5px;
}

.web-1366-13 .group-135 {
  background-image: url(../img/group-134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 8px;
}

.web-1366-13 .group-1 {
  background-image: url(../img/group-140@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 4px;
}

.web-1366-13 .group-1-1 {
  background-image: url(../img/group-142@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 4px;
}

.web-1366-13 .group-151 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 19px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.web-1366-13 .group-157 {
  background-image: url(../img/group-158@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-13 .group-1-2 {
  background-image: url(../img/group-156@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-13 .group-149 {
  background-image: url(../img/group-144@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.web-1366-13 .overlap-group-container-1 {
  align-items: flex-end;
  display: flex;
  height: 14px;
  left: 65px;
  min-width: 37px;
  position: absolute;
  top: 21px;
}

.web-1366-13 .group-container-8 {
  height: 10px;
  margin-bottom: 0.91px;
  position: relative;
  width: 16px;
}

.web-1366-13 .group-165 {
  background-image: url(../img/group-156@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 7px;
}

.web-1366-13 .group-container-9 {
  height: 11px;
  margin-left: 1px;
  position: relative;
  width: 8px;
}

.web-1366-13 .group-137 {
  background-image: url(../img/group-136@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.web-1366-13 .group-139 {
  background-image: url(../img/group-138@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 4px;
}

.web-1366-13 .group-container-10 {
  align-self: flex-start;
  height: 11px;
  margin-left: 1px;
  position: relative;
  width: 11px;
}

.web-1366-13 .group-127 {
  background-image: url(../img/group-126-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.web-1366-13 .group-131 {
  background-image: url(../img/group-130@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 7px;
}

.web-1366-13 .group-1-3 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-13 .group-171 {
  background-image: url(../img/group-170@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-13 .group-1-4 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.web-1366-13 .group-179 {
  background-image: url(../img/group-168@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 10px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.web-1366-13 .group-183 {
  background-image: url(../img/group-182-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 4px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.web-1366-13 .group-191 {
  background-image: url(../img/group-190@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 5px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 5px;
}

.web-1366-13 .copyright {
  letter-spacing: 0.33px;
  line-height: 45px;
  margin-left: 398px;
  min-height: 17px;
  min-width: 138px;
  white-space: nowrap;
}

.web-1366-13 .group-235 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 428px;
  margin-top: 7.02px;
  min-width: 185px;
}

.web-1366-13 .text-68 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -3px;
  min-height: 24px;
  min-width: 25px;
  white-space: nowrap;
}

.web-1366-13 .overlap-group11 {
  height: 22px;
  margin-bottom: -2px;
  margin-left: 5px;
  position: relative;
  width: 155px;
}

.web-1366-13 .twitter {
  left: 42px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-1366-13 .instagram {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-1366-13 .youtube {
  left: 82px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
